* {
  font-family: "Inter", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(251, 251, 243);
}
.illustration {
  display: flex;
}
img {
  position: relative;
}

.div80 p {
  font-weight: 600;
}
.overview {
  padding-top: 30px;
}

.CreditsInfo p {
  font-size: 50px;
}

.plantTrees {
  background: #fa743f;
  border-radius: 10px;
  color: white;
  border-color: #fa743f;
  font-size: 30px;
  text-decoration: none;
}

.plantTrees a {
  text-decoration: none;
  color: white;
}
.div80 {
  width: 90%;
}
.plantTrees a:hover {
  text-decoration: none;
  color: white;
}
.plantTrees:hover {
  background: #fa743f;
  border-color: #fa5717;
  text-decoration: none;
  color: white;
  text-decoration: none;
  transform: scale(1.1);
}
