.box {
  display: flex;
  width: 70%;
  border: 2px solid #fc8454;
  margin: 20px;
}
.icon {
  display: inline;
}
.desc {
  display: inline;
}

.buyButton {
  display: inline;
  float: right;
  background-color: #fa743f;
  color: white;
  border-color: #fa743f;
}

.buyButton:hover {
  color: white;
  transform: scale(1.05);
}

.setBack {
  position: fixed;
  bottom: 0;
  right: -50px;
}
