.box {
  display: flex;
  width: 80%;
  border: 2px solid #fc8454;
  margin: 20px;
}
.icon {
  display: inline;
}
.desc {
  display: inline;
}

.buyButton {
  display: inline;
  float: right;
  background-color: tomato;
  color: white;
  border-color: tomato;
}
